doctype html
html
    head
        style
            include style.css
    body
        div.main
            div.header
                | #{header}
                br
                br

            block content
                //block, content=NAME of block

            //div#id
            div
                | (c) Sep-2021
                br
                //a(href="https://google.com") CLICK HERE
                //a(href=frontendUrl) CLICK HERE