extends container
block content
    div.text
        |Hello dear #{userName}, your password has been changed successfully,to see details please click on the link below
        br
    div#id
        a(href=frontendUrl) CLICK HERE
