extends container
block content
    div.text
        |Hello dear #{userName}, to change your password, please click on the link below
        br
    div#id
        a(href=frontendUrl+'?token='+token) UPDATE Password
