extends container
block content
    div.text
        |Hello dear #{userName}, Your account has been successfully registered !!!
        br
    div#id
        a(href=frontendUrl) To add personal information click here

